{% extends "mypages/sitebase.html" %}
{% load static %}

{% block title %}
List of my favourite games/series
{% endblock %}

{% block content %}
<h1>My Favourite games/series</h1>
{% for favegames in game_names %}
    <p>{{ favegames.gamename }}, {{ favegames.startyear }}<p>
{% endfor %}
{% endblock %}
{% block form %}
<form method="POST">
    {% csrf_token %}
    {{ favegames_form }}
    <input type="submit" value="Submit">
</form>
{% endblock %}
{% block endpage %}
<p style='font-size:15;'>by shaun friend</p>
{% endblock %}