{% extends "mypages/sitebase.html" %}
{% load static %}

{% block title %}
List of my favourite games/series
{% endblock %}

{% block navtop %}
<a href='http://127.0.0.1:8000/mypages/'>Back to main page</a>
{% endblock %}
{% block content %}
<h1>My Favourite games/series</h1>
{% for favegames in game_names %}
    <p>{{ favegames.gamename }}, {{ favegames.startyear }}<p>
{% endfor %}
{% endblock %}
{% block form %}
<form method="POST" class='favegfrm'>
    <style>
        .favegfrm {
            color: white;
        }
    </style>
    {% csrf_token %}
    {{ favegames_form }}
    <input type="submit" value="Submit">
</form>
{% endblock %}
{% block navbot %}
<a href='http://127.0.0.1:8000/mypages/'>Back to main page</a>
{% endblock %}
{% block endpage %}
<p style='font-size:15;'>by shaun friend</p>
{% endblock %}